* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo-amarelo {
    /* Aumenta consideravelmente o tamanho -TESTE */
    font-size: 3rem; 
    font-weight: 900; 
    letter-spacing: -1px;
    text-transform: uppercase; 
    margin-bottom: 5px;
    background-color: #FFD600;
    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo-amarelo h1 {
    margin: 0;
    font-size: 3rem;
}

.logo-com-legenda {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 10px;
    margin-bottom: 30px;              
}

.logo-com-legenda img {
    width: 200px;  
    height: auto;
}

.legenda {
    font-size: 10px;        
    font-weight: bold;
    color: #000;            
    text-transform: uppercase;
    font-family: Arial, sans-serif;
}

.branco-site {
    background-color: #ffffff;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.moldura-mapa {
    /* ocupar toda a largura disponível no branco */
    width: 100%; 
    /* para manter se a tela for muito grnade  */
    max-width: 900px; 
    /* alturo 400 ou 300? ~decidir */
    height: 400px; 
    /* degradê  */
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); 
    border: 2px solid #FFD600; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* espaço interno */
    padding: 20px; 
}

.moldura-mapa strong {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.rodape-preto {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

/* FLEX 1 PARA TORNAR O ESPAÇO DINAMICO, USAR NO BRANCO JÁ QUE VAI SER A ÁREA QUE VOU DESENVOLVER ALGUMA IDEA  */
/* fazer um mapa interativo, quando passar o mouse em cima do estado aparece os dados de violencia */