
.topo-amarelo {
    background-color: #FFD600;
    padding: 60px 20px;
    text-align: center;
}

 
.branco-site {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}

.rodape-preto {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

